{% extends "base.html" %}

{% block body %}
<div class="main-container">
  <div class="header-container">
    <h1 id="imginfo">{{ data["key"] }}.{{ data["ext"] }}</h1>
    <a href="/" class="button">Back</a>
  </div>
  <img src="/assets/{{ data['key'] }}.{{ data['ext'] }}" />
  <hr />
  <div class="embed-creator">
    <!--- <h1>Embed Builder</h1> -->
    <!-- <input name="title"> -->
    <!-- <input id="colour" name="clr" type="color" height="50" width="50"> -->
    <hr />
    <form class="embed-form" id="eform">
      <div class="embed-left">
        <input id="einput" class="embed-input" type="text" maxlength="25" style="margin-bottom: 10px;"
          value="{{ data['embed'][0]['title'] }}" placeholder="Add your title here...">
        <hr />
        <input id="ecolour" class="embed-colour" type="color" style="margin-bottom: 15px;"
          value="#{{ data['embed'][0]['colour'] }}">
      </div>
      <div class="embed-right">
        <div class="embed-creator" style="margin-bottom: 10px;">
          <h2>Embed Builder </h2>
        </div>
        <a id="{{ data['key'] }}.{{ data['ext'] }}" class="button esave-button">
          <i class=" fa fa-share-alt"></i> Save and Share
        </a>
      </div>
    </form>
  </div>
  <hr />
  <div class="info-container">
    <a id="delete" class="button">
      <i class="fa fa-trash"></i>
    </a>
    <a id="visibility" class="button" style="margin-left: 5px;">
      <i class="fa fa-eye"></i>
    </a>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/static/scripts/dashboard.js"></script>
<script src="/static/scripts/info.js"></script>
{% endblock %}