{% extends "base.html" %}

{% block body %}
<div class="main-container">
  <div class="header-container">
    <h1>Upload Images</h1>
    <a href="/" class="button">Back</a>
  </div>
  <div class="container" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">
    <button id="upload">
      <img id="placeholder" src="/static/images/upload.png" height="400" width="400" />
      <input type="file" id="files" hidden accept="image/*" />
    </button>
    <div class="text">
      <code id="prompt">Drop - Paste - Upload</code>
    </div>
    <div class="matrix" id="matrix">
      <button class="button" id="view_img">View</button>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/static/scripts/upload.js"></script>
{% endblock %}
