{% extends "base.html" %}

{% block body %}
<div class="main-container">
  <div class="header-container">
    <h1>Upload Images</h1>
    <a href="/" class="button">Back</a>
  </div>
  <div class="container" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">
    <button id="upload-button" class="button">
      <img id="placeholder" src="/static/images/upload.png" height="400" width="400" />
      <input type="file" id="files" accept="image/*" hidden />
    </button>
    <code>Drop - Paste - Upload</code>
    <div id="matrix" hidden>
      <button class="button" id="view-button">View</button>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/static/scripts/upload.js"></script>
{% endblock %}
